*{
    font-family: 'Poppins', sans-serif;
}
/* This is the start of the explore menu styles */
.explore-menu {
    background-color: #C9ECB5;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 20px;
    padding-bottom: 50px;
    position: relative;
    


}

.explore-menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;

}
.item-1{
    padding-bottom: 100px;
    
}

.explore-menu img {
    height: 158px;
    width: 190px;

}

.explore-menu p {
    float: right;
    text-align: center;
}
.explore-menu p strong{
    text-align: left;
}


.explore-menu>h2 {
    text-align: center;
    padding-bottom: 30px;
}

h3 {
    float: right;
}
.burger{
    text-align: left;
}

/*
.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6 {
    background-color: white;
}
*/


/* This is the end of explore-menu styles */

.hot-deals{
    display: flex;
    background-color: #C9ECB5;
    flex-wrap: wrap;
  
    margin-right: 80px;
    margin-left: 80px;
    
}
.hot-deals>h2{
    text-align: center;
}
.hot-deals-img-1{
    
    
  
}
.hot-deals-img-2{
  
    
}
