.explore-menu{
    background-color: #C9ECB5;
    margin-left: 80px;
    margin-right: 80px;
    
}

.explore-menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.explore-menu img{
    height: 158px;
    width: 190px;
}
.explore-menu p{
    float: right;
}
.explore-menu > h2{
    text-align: center;
}
h3{
    float: right;
}


.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6 {
    background-color: white;
}
