* {
    font-family: 'Poppins', sans-serif;
}

/* This is the start of the explore menu styles */
.explore-menu {
    background-color: lightgray;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 20px;
    padding-bottom: 50px;
    position: relative;



}

.explore-menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;

}

.item-1 {
    padding-bottom: 100px;

}

.explore-menu img {
    height: 158px;
    width: 190px;

}

.explore-menu p {
    float: right;
    text-align: center;
}

.explore-menu p strong {
    text-align: left;
}


.explore-menu>h2 {
    text-align: center;
    padding-bottom: 30px;
}

h3 {
    float: right;
}

.burger {
    margin-right: 80px;
    font-size: 16px;
}

/*
.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6 {
    background-color: white;
}
*/


/* This is the end of explore-menu styles */

/*This is the beginning of the hot-deals style*/

.hot-deals-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;






}

.hot-deals {
    background-color: #C9ECB5;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 20px;
    padding-bottom: 50px;



}

/*
.item-8{
    height: 00px;
    width: 300px;
    position: absolute;
    
    
} */

.item-7 {
    height: 612px;
    width: 408px;
    background-image: url('https://www.dropbox.com/s/aaf4pq2gw48utud/abhishek-hajare-kkrXVKK-jhg-unsplash-removebg-preview.png?raw=1');
    background-size: contain;
    background-position: top;

    background-repeat: no-repeat;
    margin-left: -60px;
    margin-top: -100px;

}

.alignment {
    text-align: center;
}


.hot-deals>h2 {
    text-align: center;
    margin-bottom: 0;
}

.hot-deals img {
    position: absolute;
    top: 160px;
    left: 80px;

}

.head2 {
    color: #6CB840;
    font-size: 28px;
}

.item-9 p strong {
    font-size: 35px;
}

.head3 {
    color: #6CB840;
    font-size: 37px;
    letter-spacing: 2px;

}

.item-9 {
    margin-top: 100px;
    line-height: 37px;
    letter-spacing: 2px;
}
img>p{
    text-align: left;
}
.text-1,.text-2,.text-3,.text-4,.text-5,.text-6{
    background-color: white;
    border-bottom-right-radius: 40px;
    margin-left: 60px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
}
.box{
    top: 130px;
    position: absolute;
    width: 500px;
    height: 270px;
    border-style: dotted;
    border-radius: 100%/700px 700px 4px 4px;
    border-color: #6CB840 transparent transparent transparent ;
    left: 0;
    margin-left: 600px;
    margin-bottom: 90px;
}
.item-1-1{
    position: absolute;
    padding-left: -20px;
    left: -20px;
    bottom: 60px;
   
    
}
.item-2-2{
    position: absolute;
    left: 340px;
    bottom: 280px;
    
}
.item-3-3{
    position: absolute;
    right: 200px;
    bottom: 280px;
}
.item-4-4{
    position: absolute;
    
    top: 160px;
}
.item-5-5{
    position: absolute;
    bottom: 60px;
    right: 570px;
}
.item-6-6{
    position: absolute;
    bottom: 60px;
    right: 200px;
}
.text

.text-4{
    background-color: white;
    border-bottom-right-radius: 40px;
    margin-left: 80px;
    padding-left: 50px;
    padding-right: 50px;
}
.item-4-4{
    position: absolute;
    
    left: 0;
    bottom: 340px;
    
}

/* This is the end of the hot-deals style */

/* This is the beginning of the eat-together styles*/

.eat-together-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.eat-together {


    padding-top: 20px;
    padding-bottom: 50px;

}

.item-10 img {
    width: 740px;
    height: 528px;
    margin-left: 30px;



}

.item-11 {
    width: 340px;
    height: 100px;
    margin-right: 150px;
    margin-top: 80px;
    text-align: center;

}

.head4 {
    font-size: 37px;
    letter-spacing: 2px;
    color: #EAAB1B;
}

/* This is the end of the eat-together styles*/

/*This is the start of the intro page styles*/

.navigation-bar .nav {
    display: inline;
    padding: 25px;
    list-style-type: none;



}

.navigation-bar {
    display: inline;
    height: 300px;
    width: 200px;

    line-height: 20px;
    vertical-align: middle;

}


ul li {
    list-style-type: none;
    display: inline;
    margin-left: 60px;
}

ul li #star {
    height: 30px;
    width: 50px;
}


.circle {
    position: absolute;
    background-color: #649549;
    transform: translate(0% -50%, -50% 0%);
    height: 800px;
    width: 1000px;
    border-radius: 50%;
    opacity: 0.4;
    bottom: 30%;
    left: 33%;
    z-index: 2;
    shape-outside: ellipse(300px 500px at 100% 50%);


}

.main-header {
    text-align: center;
    opacity: 1;
}

.head12 {
    color: #6CB840;
}

.head13 {
    color: #EAAB1B;
}

.head12,
.head13 {
    font-size: 37px;
    letter-spacing: 2px;
}

.tagline {
    font-size: 30px;
    margin-top: -10px;
}

.details {
    margin-top: -25px;
}

.button3 {
    background-color: #6CB840;
    border: none;
    color: white;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    margin-top: 10px;

}

.description {
    margin-left: 80px;
}

#star-five {
    margin: 50px 0;
    position: relative;
    display: block;
    color: black;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid black;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
}

#star-five:before {
    border-bottom: 80px solid black;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}

#star-five:after {
    position: absolute;
    display: block;
    color: black;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid black;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
}

.images-1 {
    position: absolute;
    right: 625px;
    background-color: white;
    z-index: 2;
    border-radius: 90px;
    top: 300px;

}

.hide-overflow {
    overflow: hidden;
}

.images-2 {
    position: absolute;
    right: 560px;
    top: 170px;
    background-color: white;
    z-index: 2;
    border-radius: 90px;

}

/*
.images-2-1{
    position: absolute;
    right: 500px;
    z-index: 2;

} */
.images-3 {
    position: absolute;
    right: 380px;
    top: 90px;
    background-color: white;
    z-index: 2;
    border-radius: 90px;

}

.images-5-1 {
    position: absolute;
    right: 320px;
    top: 350px;
    background-color: white;
    z-index: 2;
    border-radius: 100px;


}

.images-5 {
    position: absolute;
    right: 180px;
    top: 170px;
    background-color: white;
    z-index: 2;
    border-radius: 90px;

}

.images-6 {
    position: absolute;
    right: 115px;
    top: 360px;
    background-color: white;
    z-index: 2;
    border-radius: 90px;
}



/*This is the end of the intro page styles */

/*This is the beginning of the contact and footer styles */

form input {
    border: 0;
    margin-left: 50px;
    width: 500px;
    border-radius: 15px;
    height: 30px;
    color: black;
    margin-top: 20px;
    margin-bottom: 40px;
}

.contact {
    background-color: #FFD77C;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 100px;


}

::placeholder {
    color: black;
}

.button1 {
    background-color: #6CB840;
    border: none;
    color: white;
    padding-top: 2px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    margin-top: 10px;
}

.foot1 {
    float: left;
    margin-left: 30px;
    margin-right: 40px;

}

.foot2 {
    float: left;
    margin-top: 40px;
}

.foot3 {
    float: right;
    margin-top: 38px;
    line-height: 18px;
}

.foot-main {
    overflow: auto;
    background-color: #C9ECB5;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 50px;
    padding-top: 80px;
    padding-bottom: 20px;
}

.foot4 {
    float: right;
    margin-left: 70px;
    margin-top: 50px;

}

.foot4 img {
    margin-top: -10px;
}

.button2 {
    display: block;
    background-color: #6CB840;
    border: none;
    color: white;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

}

.line {
    border-right: 2px dashed #6CB840;
    padding-right: 60px;
}

/* This is the end of the contact and footer styles  */